:root {
    --grass-green: #4CAF50;
    --white: #ffffff;
    --light-gray: #f0f0f0;
    --dark-gray: #333;
}

.otpContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--white);
    
        background-image: url('/a.jpg');
        /* Add the local image */
        background-size: cover;
        /* Ensures the image covers the full container */
        background-position: center;
        /* Centers the image */
        background-repeat: no-repeat;
        /* Prevents repeating the image */
}

.formContainer {
    background-color: var(--light-gray);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--grass-green);
}

.form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 1.5rem;
}

.label {
    font-size: 1rem;
    color: var(--dark-gray);
    margin-bottom: 0.5rem;
}

.input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--dark-gray);
    border-radius: 5px;
    font-size: 1rem;
}

.sendButton {
    background-color: var(--grass-green);
    color: var(--white);
    border: none;
    padding: 0.75rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sendButton:hover {
    background-color: #388e3c;
}