/* src/buyer/BuyerProfile.module.css */

:root {
    --grass-green: #4CAF50;
    --white: #ffffff;
    --light-gray: #f0f0f0;
    --dark-gray: #333;
}

.profilePage {
    margin-top: 150px;
    /* To account for the fixed header */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--light-gray);
    min-height: 100vh;
}

.profileContainer {
    width: 80%;
    background-color: var(--white);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.buyerInfo {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.buyerInfo h2 {
    color: var(--grass-green);
    margin-bottom: 1rem;
}

.buyerInfo p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.productTable h2 {
    color: var(--grass-green);
    margin-bottom: 1rem;
}

.productTable table {
    width: 100%;
    border-collapse: collapse;
}

.productTable th,
.productTable td {
    padding: 1rem;
    border: 1px solid var(--dark-gray);
    text-align: left;
}

.productTable th {
    background-color: var(--grass-green);
    color: var(--white);
}

.productTable td {
    background-color: var(--light-gray);
}

h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: var(--grass-green);
    text-align: right;
}
/* src/buyer/BuyerProfile.module.css */
.deliveredButton {
    padding: 5px 10px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.deliveredButton:hover {
    background-color: darkgreen;
}